<h1 style="text-align: center; margin-top:2em">
    {{questionData}}
</h1>



<div class="row" style="margin-top: 1em; position: relative">
    <div class="col">
        <button style="position: absolute; margin: 0; left:50%" type="button" class="btn btn-secondary">Secondary</button>

    </div>
    <div class="col">
        <button style="position:absolute; margin:0; right:50%" type="button" class="btn btn-warning">Warning</button>   
    </div>
</div>
